/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion   Contains classes/helpers, mostly used by the dev-team
    Authors    mac signer

*****************************************************************************/

.clearfix {
	@include clearfix;
}

.invisible {
	position: absolute !important;
	left: -9999em !important;
}

.remove-margin-top {
	margin-top: 0 !important;
}

.remove-margin-right {
	margin-right: 0 !important;
}

.remove-margin-bottom {
	margin-bottom: 0 !important;
}

.remove-margin-left {
	margin-left: 0 !important;
}

.overflow-hidden {
	overflow: hidden !important;
}

.text-align-left {
	text-align: left !important;
}

.text-align-center {
	text-align: center !important;
}

.text-align-right {
	text-align: right !important;
}
