/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    main css. HTML elements and basic structure
    Authors

*****************************************************************************/


*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Rubik";
	font-weight: 400;
	font-size: 1.8rem;
	letter-spacing: .02em;
	line-height: 1.5;
	background-color: $white;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
table,
ol,
ul,
form,
dl {
	margin-bottom: 2rem;
}

p {
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Karla";
	font-weight: 700;
	letter-spacing: .01em;
	line-height: 1.2;
}

h1,
.h1 {
	margin-top: 1em;
	margin-bottom: .6em;
	font-size: 3em;
}

h2,
.h2 {
	margin-top: 1em;
	margin-bottom: .6em;
	font-size: 2.2em;
}

h3,
.h3 {
	margin-top: 1em;
	margin-bottom: .6em;
	font-size: 2em;
}

h4,
.h4 {
	margin-top: 1em;
	margin-bottom: .6em;
	font-size: 1.4em;
}

h5,
.h5 {
	margin-top: 1em;
	margin-bottom: .6em;
	font-size: 1.2em;
}

h6,
.h6 {
	margin-top: 1em;
	margin-bottom: .6em;
	font-size: 1em;
}

hr,
.hr {
	height: 2px;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0 solid lightgrey;
	border-width: 2px 0 0;
}

img,
object,
svg {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

footer {
	font-size: .8em;
}

/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    base-width module
    Authors     mac signer

*****************************************************************************/

.base-width {
	width: 98%;
	width: calc(100% - 2 * #{$content-margin-side});
	max-width: $max-content-width;
	margin-right: auto;
	margin-left: auto;
}

