/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    mixins media queries
    Authors
    Datum

*****************************************************************************/

@mixin media-max-width($breakpoint) {
	@media screen and ( max-width: $breakpoint ) {
		@content;
	}
}

@mixin media-min-width($breakpoint) {
	@media screen and ( min-width: $breakpoint ) {
		@content;
	}
}

@mixin media-desktop-small() {
	@include media-max-width($breakpoint-desktop-small) {
		@content;
	}
}

@mixin media-tablet() {
	@include media-max-width($breakpoint-tablet) {
		@content;
	}
}

@mixin media-mobile() {
	@include media-max-width($breakpoint-mobile) {
		@content;
	}
}
