/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    button module
    Authors     mac signer

*****************************************************************************/

/*
Buttons

Button guides

Styleguide 1
*/


/*
.button

Standardbutton ohne Transition

:hover - hover
.button--alert - Alert
.button--info - Infobutton

Markup:
<a class="button {{modifier_class}}">lorem ipsum</a>

Styleguide 1.1
*/


.button {
	display: inline-block;
	max-width: 100%;
	padding: .4em .8em .2em;
	border-radius: .2em;
	color: white;
	background-color: darkgrey;
	transition: color .3s, background .3s;

	&:hover {
		background-color: black;
	}

	&--alert {
		background-color: red;

		&:hover {
			background-color: darkred;
		}
	}

	&--info {
		background-color: blue;

		&:hover {
			background-color: darkblue;
		}
	}
}
