/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    Rocksolid Grid alternative with custom gutter width
    Authors
    Datum

*****************************************************************************/

/*
Columns

Spezielle Mehrspaltigkeiten.

Styleguide 2
*/

$gutter-width: 2rem !default;

// mixin is depending on $gutter-width, c&p to mixin.scss if rocksolid-columns is not needed but need kind of a grid anyway
@mixin columns($columns, $gutter: $gutter-width, $class-basename: null) {
	$number-of-gutters: $columns - 1;

	@if($class-basename) {
		$class-basename: "#{$class-basename}-#{$columns}";
	} @else {
		$class-basename: "&";
	}

	#{$class-basename} {
		> * {
			float: left;

			&:nth-of-type(1n) {
				width: calc( ( 100% - ( #{$number-of-gutters} * #{$gutter} ) ) / #{$columns} - 0.01px);
				margin-right: calc( #{$gutter} );
				margin-bottom: calc( #{$gutter} );
				clear: none;
			}

			&:nth-of-type(#{$columns}n+1) {
				clear: left;
			}

			&:nth-of-type(#{$columns}n+#{$columns}) {
				margin-right: 0;
			}
		}

		@include clearfix;
	}
}

/*
.columns

Beschreibungstext

.columns-2 - 2 Spalten
.columns-3 - 3 Spalten
.columns-4 - 4 Spalten
.columns-5 - 5 Spalten
.columns-6 - 6 Spalten

Markup:
<div class="{{modifier_class}}">
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia iusto mollitia maxime libero repellat minus iure consequatur, nobis fugit adipisci nostrum eum blanditiis laborum porro eos veritatis corporis eius?</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia iusto mollitia maxime libero repellat minus iure consequatur, nobis fugit adipisci nostrum eum blanditiis laborum porro eos veritatis corporis eius?</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia iusto mollitia maxime libero repellat minus iure consequatur, nobis fugit adipisci nostrum eum blanditiis laborum porro eos veritatis corporis eius?</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia iusto mollitia maxime libero repellat minus iure consequatur, nobis fugit adipisci nostrum eum blanditiis laborum porro eos veritatis corporis eius?</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia iusto mollitia maxime libero repellat minus iure consequatur, nobis fugit adipisci nostrum eum blanditiis laborum porro eos veritatis corporis eius?</div>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quia iusto mollitia maxime libero repellat minus iure consequatur, nobis fugit adipisci nostrum eum blanditiis laborum porro eos veritatis corporis eius?</div>
</div>

Styleguide 2.1
*/

// mixin is depending on $gutter-width, c&p to mixin.scss if rocksolid-columns is not needed but need kind of a grid anyway
@mixin push($columns-to-push, $push-origin: "left", $class-basename: null, $gutter: $gutter-width, $exclude-last-gutter: false, $columns-amount: 12) {
	$number-of-gutters: $columns-to-push;
	$total-number-of-gutters: $columns-amount - 1;

	@if($exclude-last-gutter) {
		$number-of-gutters: $number-of-gutters - 1;
	}


	@if($class-basename) {
		$class-basename: "#{$class-basename}-#{$columns-to-push}";
	} @else {
		$class-basename: "&";
	}

	#{$class-basename} {
		margin-#{$push-origin}: calc( ( 100% - #{$total-number-of-gutters} * #{$gutter} ) / #{$columns-amount} * #{$columns-to-push} + #{$number-of-gutters} * #{$gutter} );
	}
}

@for $i from 1 through 6 {
	@include columns($i, $gutter-width, '.columns');

}

@for $i from 0 through 11 {
	@include push($i, 'left', '.push-left');
	@include push($i, 'right', '.push-right');
}

@include media-tablet() {
	@for $i from 1 through 6 {
		@include columns($i, $gutter-width, '.columns-medium');
	}

	@for $i from 0 through 11 {
		@include push($i, 'left', '.push-left-medium');
		@include push($i, 'right', '.push-right-medium');
	}
}

@include media-mobile() {
	@for $i from 1 through 6 {
		@include columns($i, $gutter-width, '.columns-small');
	}

	@for $i from 0 through 11 {
		@include push($i, 'left', '.push-left-small');
		@include push($i, 'right', '.push-right-small');
	}
}
