/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    hover-tile module
    Authors     mac signer

*****************************************************************************/

/*
Tiles

Standardkacheln

Styleguide 3
*/

/*
.hover-tile

description

:hover - hover description
.hover-tile--red - roter Hintergrund bei Hover
.hover-tile--blue - blauer Hintergrund bei Hover

Markup:
<div style="border: 1px solid black">
	<div class="hover-tile {{modifier_class}}">
		<p class="hover-tile__content">You don't believe in the Force, do you? I'm surprised you had the courage to take the responsibility yourself. Ye-ha! What!? Look, I can take you as far as Anchorhead. You can get a transport there to Mos Eisley or wherever you're going.</p>
		<a href="#" class=""></a>
		<img src="http://place-hold.it/800x120" style="border: 2px solid black; width: 100%"/>
	</div>
</div>


Styleguide 3.1
*/


.hover-tile {
	position: relative;

	&__content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		padding: .8em;
		background-color: rgba(black, .4);
		color: white;
		opacity: 0;
		transition: opacity .3s;
	}

	&:hover &__content {
		opacity: 1;
	}

	&:hover &__content {
		opacity: 1;
	}

	&--red &__content {
		background-color: rgba(red, .7);
	}

	&--blue &__content {
		background-color: rgba(blue, .7);
	}
}
