/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    info-tile module
    Authors     mac signer

*****************************************************************************/

/*
.info-tile

description

:hover - hover description

Markup:
<div class="columns-3">
	<div class="info-tile {{modifier_class}}">
		<p class="info-tile__title">Believe in the Force</p>
		<div class="info-tile__image">
			<img src="http://place-hold.it/800x400"/>
		</div>
		<p class="info-tile__intro">You don't believe in the Force, do you?</p>
		<a href="#" class="button">Button</a>
	</div>
</div>


Styleguide 3.2
*/


.info-tile {
	&__image {
		overflow: hidden;

		img {
			transform: scale(1);
			transition: transform .3s;
		}
	}

	&__title {
		margin-bottom: .4em;
		text-transform: uppercase;
	}

	&__intro {
		margin-top: .4em;
	}

	&:hover &__image img {
		transform: scale(2);
	}
}
