/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    font face settings
    Authors     mac signer

*****************************************************************************/

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), local('Rubik-Regular'),
       url('/fonts/rubik-v8-latin-regular.woff2') format('woff2'),
       url('/fonts/rubik-v8-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: local('Rubik Italic'), local('Rubik-Italic'),
       url('/fonts/rubik-v8-latin-italic.woff2') format('woff2'),
       url('/fonts/rubik-v8-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
       url('/fonts/rubik-v8-latin-700italic.woff2') format('woff2'),
       url('/fonts/rubik-v8-latin-700italic.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local('Rubik Bold'), local('Rubik-Bold'),
       url('/fonts/rubik-v8-latin-700.woff2') format('woff2'),
       url('/fonts/rubik-v8-latin-700.woff') format('woff');
}



@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'),
       url('/fonts/karla-v7-latin-regular.woff2') format('woff2'),
       url('/fonts/karla-v7-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'),
       url('/fonts/karla-v7-latin-italic.woff2') format('woff2'),
       url('/fonts/karla-v7-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'),
       url('/fonts/karla-v7-latin-700.woff2') format('woff2'),
       url('/fonts/karla-v7-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'),
       url('/fonts/karla-v7-latin-700italic.woff2') format('woff2'),
       url('/fonts/karla-v7-latin-700italic.woff') format('woff');
}



