/* **************************************************************************
 *  MEDIA MOTION AG                                                         *
 ****************************************************************************

    Funktion    variables
    Authors
    Datum

*****************************************************************************/


/**
 * colors
 */

$black: #101010;
$white: #fafafa;

$black-transparent: rgba($black, .07);

$red: #A00039;

$blue: #004A7F;
$blue-light: scale-color($blue, $lightness: 30%);
$blue-dark: scale-color($blue, $lightness: -30%);

$green: #48B100;
$green-light: scale-color($green, $lightness: 30%);
$green-dark: scale-color($green, $lightness: -30%);

$transparent: rgba($white, 0);


/**
 * measures
 */

$max-content-width: 110rem;
$content-margin-side: 2rem;


/**
 * breakpoints
 */

$breakpoint-desktop-small: 130em / 1.6;
$breakpoint-tablet: 110em / 1.6;
$breakpoint-mobile: 60em / 1.6;
